<section id="footer">
	<!-- FOOTER -->
	<div class="footer_bg white">
	  <div class="container_12">
	    <div class="grid_9"> <img src="/assets/shadow-divider-2.png" width="19" height="207" alt="Divider" class="vr-divider"/>
	      <div class="news">
	        <h4>Latest News</h4>
			<!---
			<div class="item">
				<h5><a href="http://www.bizjournals.com/portland/blog/2011/05/nordstrom-rack-opens-sept-22.html" target="_blank">Nordstrom Rack Now open at Cascade Plaza in Beaverton</a></h5>
			</div>
			<div class="item">
				<h5><a href="http://djcoregon.com/news/2011/05/31/target-planning-new-store-in-jantzen-beach-shopping-center/" target="_blank">Target Signed to open a new store at Jantzen Beach</a></h5>
			</div>
			--->
			<!---
			<div class="item"> 
	          <h5><a href="/files/ChainLinks-NationalReport-Spring2011-HSM.pdf" target="_blank">ChainLinks U.S. National Retail Report</a></h5>
	          <p>We are proud to present the Chainlinks inaugural edition of our U.S. National Retail Report. This report covers vacancy, absorption, construction and rental rate trends for the shopping enter markets in over 40 major U.S. metropolitan regions. </p>
	        </div>
	        <div class="item"> 
	          <h5><a href="http://www.wilsonvillespokesman.com/news/2010/December/14/Business/oswego.grill.will.be.coming.to.wilsonville/news.aspx" target="_blank">HSM Pacific continues to successfully Lease Old Town Square in Wilsonville</a></h5>
	          <p>They are proud to announce Oswego Grill will be a part of the project.</p>
	        </div>
	        <div class="item"> 
	          <h5><a href="http://www.oregonlive.com/business/prnewswire/index.ssf?/oregonlive/story/?catSetID=7002&catID=290232&nrid=111127494&page=1" target="_blank">ChainlLinks U.S. National Retail Report</a></h5>
	          <p>HSM Pacific was instrumental in the Lease negotiation with Nordstrom Rack at Cascade Plaza and is proud to announce they will be opening a 45,000 SF in the Fall of 2011.</p>
	        </div>
			--->
	      </div>
	      <!-- /news --> 
	    </div>
	    <!-- end .grid_6 -->

	    <!-- end .grid_3 -->
	    <div class="grid_3 omega">
	      <h4>Contact Information</h4>
	      <ul class="contact-info">
	        <li class="phone"><a href="tel:+15032451400">503 245 1400</a></li>
	        <li class="email"><a href="mailto:info@hsmpacific.com">info@hsmpacific.com</a></li>
	        <li class="www"><a href="http://www.hsmpacific.com">www.hsmpacific.com</a></li>
	      </ul>
	    </div>
	    <!-- end .grid_3 -->
	    <div class="clear"></div>
	    <div class="copyright">
	      <p>HSM Pacfic Copyright &copy; <%= Time.now.year %> &bull; All rights reserved </p>
	    </div>
	    <!-- /copyright --> 
	  </div>
	  <!-- /container_12 --> 
	</div>
	<!-- /footer_bg -->

</section>