<h1 id='logo'>
  <a href="/">
  	<img src="/assets/logo.png" />
  </a>
  <!--<%= link_to Refinery::Core.site_name, refinery.root_path %>-->
</h1><br style="clear: both" />
<%= render(:partial => "/refinery/menu", :locals => {
             :dom_id => 'menu',
             :css => 'menu'
           }) %>
